
    /* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/



:root {
    --color-dark: #404040;
    --color-light: #ffffff;
    --color-light-glare: #fff;
    --color-primary: #0042bf;
    --color-primary-glare: #d8e2f4;
    --color-secondary: #ee5141;
    --color-secondary-glare: #ffe3e5;
    
    --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.50rem);
    --space-2xs: clamp(0.50rem, calc(0.46rem + 0.20vw), 0.94rem);
    --space-xs: clamp(0.69rem, calc(0.62rem + 0.34vw), 1.44rem);
    --space-s: clamp(0.94rem, calc(0.85rem + 0.43vw), 1.88rem);
    --space-m: clamp(1.44rem, calc(1.31rem + 0.63vw), 2.81rem);
    --space-l: clamp(1.88rem, calc(1.70rem + 0.85vw), 3.75rem);
    --space-xl: clamp(2.81rem, calc(2.56rem + 1.28vw), 5.63rem);
    --space-2xl: clamp(3.75rem, calc(3.41rem + 1.70vw), 7.50rem);
    --space-3xl: clamp(5.63rem, calc(5.11rem + 2.56vw), 11.25rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.94rem);
    --space-2xs-xs: clamp(0.50rem, calc(0.41rem + 0.43vw), 1.44rem);
    --space-xs-s: clamp(0.69rem, calc(0.58rem + 0.54vw), 1.88rem);
    --space-s-m: clamp(0.94rem, calc(0.77rem + 0.85vw), 2.81rem);
    --space-m-l: clamp(1.44rem, calc(1.23rem + 1.05vw), 3.75rem);
    --space-l-xl: clamp(1.88rem, calc(1.53rem + 1.70vw), 5.63rem);
    --space-xl-2xl: clamp(2.81rem, calc(2.39rem + 2.13vw), 7.50rem);
    --space-2xl-3xl: clamp(3.75rem, calc(3.07rem + 3.41vw), 11.25rem);
  
    /* Custom pairs */
    --space-2xs-3xl: clamp(0.50rem, calc(-0.48rem + 4.89vw), 11.25rem);
  
    --space-3xs: clamp(0.25rem, calc(0.24rem + 0.06vw), 0.31rem);
    --space-2xs: clamp(0.44rem, calc(0.41rem + 0.13vw), 0.56rem);
    --space-xs: clamp(0.69rem, calc(0.65rem + 0.19vw), 0.88rem);
    --space-s: clamp(0.88rem, calc(0.83rem + 0.25vw), 1.13rem);
    --space-m: clamp(1.31rem, calc(1.24rem + 0.38vw), 1.69rem);
    --space-l: clamp(1.75rem, calc(1.65rem + 0.50vw), 2.25rem);
    --space-xl: clamp(2.63rem, calc(2.48rem + 0.75vw), 3.38rem);
    --space-2xl: clamp(3.50rem, calc(3.30rem + 1.00vw), 4.50rem);
    --space-3xl: clamp(5.25rem, calc(4.95rem + 1.50vw), 6.75rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.19rem + 0.31vw), 0.56rem);
    --space-2xs-xs: clamp(0.44rem, calc(0.35rem + 0.44vw), 0.88rem);
    --space-xs-s: clamp(0.69rem, calc(0.60rem + 0.44vw), 1.13rem);
    --space-s-m: clamp(0.88rem, calc(0.71rem + 0.81vw), 1.69rem);
    --space-m-l: clamp(1.31rem, calc(1.13rem + 0.94vw), 2.25rem);
    --space-l-xl: clamp(1.75rem, calc(1.43rem + 1.63vw), 3.38rem);
    --space-xl-2xl: clamp(2.63rem, calc(2.25rem + 1.88vw), 4.50rem);
    --space-2xl-3xl: clamp(3.50rem, calc(2.85rem + 3.25vw), 6.75rem);
  
    /* Custom pairs */
    --space-2xs-3xl: clamp(0.44rem, calc(-0.82rem + 6.31vw), 6.75rem);
  
  
  
    --wrapper-max-width: 80em;
  
  
    --size-step--2: clamp(0.61rem, calc(0.57rem + 0.17vw), 0.84rem);
    --size-step--1: clamp(0.73rem, calc(0.68rem + 0.23vw), 1.05rem);
    --size-step-0: clamp(0.88rem, calc(0.81rem + 0.31vw), 1.31rem);
    --size-step-1: clamp(1.05rem, calc(0.97rem + 0.42vw), 1.64rem);
    --size-step-2: clamp(1.26rem, calc(1.15rem + 0.56vw), 2.05rem);
    --size-step-3: clamp(1.51rem, calc(1.36rem + 0.75vw), 2.56rem);
    --size-step-4: clamp(1.81rem, calc(1.62rem + 0.99vw), 3.20rem);
    --size-step-5: clamp(2.18rem, calc(1.92rem + 1.31vw), 4.01rem);
  
  

  
  
  
    
    --step--2: clamp(0.69rem, calc(0.67rem + 0.08vw), 0.77rem);
    --step--1: clamp(0.78rem, calc(0.73rem + 0.25vw), 1.03rem);
    --step-0: clamp(0.88rem, calc(0.78rem + 0.50vw), 1.38rem);
    --step-1: clamp(0.98rem, calc(0.81rem + 0.85vw), 1.83rem);
    --step-2: clamp(1.11rem, calc(0.84rem + 1.34vw), 2.44rem);
    --step-3: clamp(1.25rem, calc(0.84rem + 2.01vw), 3.26rem);
    --step-4: clamp(1.40rem, calc(0.81rem + 2.94vw), 4.34rem);
  
    --step--3: clamp(0.66rem, calc(0.66rem + 0.01vw), 0.69rem);
    --step--2: clamp(0.74rem, calc(0.72rem + 0.08vw), 0.91rem);
    --step--1: clamp(0.83rem, calc(0.80rem + 0.18vw), 1.22rem);
    --step-0: clamp(0.94rem, calc(0.88rem + 0.31vw), 1.63rem);
    --step-1: clamp(1.06rem, calc(0.95rem + 0.51vw), 2.17rem);
    --step-2: clamp(1.19rem, calc(1.03rem + 0.77vw), 2.89rem);
    --step-3: clamp(1.34rem, calc(1.11rem + 1.14vw), 3.85rem);
    --step-4: clamp(1.50rem, calc(1.17rem + 1.65vw), 5.13rem);
    --step-5: clamp(1.69rem, calc(1.22rem + 2.34vw), 6.84rem);
  
    --step--3: clamp(0.66rem, calc(0.65rem + 0.04vw), 0.74rem);
    --step--2: clamp(0.74rem, calc(0.72rem + 0.11vw), 0.99rem);
    --step--1: clamp(0.83rem, calc(0.79rem + 0.22vw), 1.31rem);
    --step-0: clamp(0.94rem, calc(0.86rem + 0.37vw), 1.75rem);
    --step-1: clamp(1.06rem, calc(0.94rem + 0.58vw), 2.33rem);
    --step-2: clamp(1.19rem, calc(1.01rem + 0.87vw), 3.11rem);
    --step-3: clamp(1.34rem, calc(1.08rem + 1.28vw), 4.14rem);
    --step-4: clamp(1.50rem, calc(1.14rem + 1.83vw), 5.53rem);
    --step-5: clamp(1.69rem, calc(1.17rem + 2.58vw), 7.37rem);
  
    --step--3: clamp(0.66rem, calc(0.66rem + 0.00vw), 0.66rem);
    --step--2: clamp(0.74rem, calc(0.72rem + 0.09vw), 0.94rem);
    --step--1: clamp(0.83rem, calc(0.79rem + 0.22vw), 1.33rem);
    --step-0: clamp(0.94rem, calc(0.85rem + 0.43vw), 1.88rem);
    --step-1: clamp(1.06rem, calc(0.91rem + 0.73vw), 2.65rem);
    --step-2: clamp(1.19rem, calc(0.95rem + 1.16vw), 3.75rem);
    --step-3: clamp(1.34rem, calc(0.97rem + 1.80vw), 5.30rem);
    --step-4: clamp(1.50rem, calc(0.96rem + 2.72vw), 7.50rem);
    --step-5: clamp(1.69rem, calc(0.88rem + 4.05vw), 10.60rem);
  
    --step--3: clamp(0.58rem, calc(0.62rem + -0.04vw), 0.61rem);
    --step--2: clamp(0.69rem, calc(0.69rem + 0.03vw), 0.72rem);
    --step--1: clamp(0.78rem, calc(0.75rem + 0.12vw), 0.90rem);
    --step-0: clamp(0.88rem, calc(0.83rem + 0.25vw), 1.13rem);
    --step-1: clamp(0.98rem, calc(0.90rem + 0.42vw), 1.41rem);
    --step-2: clamp(1.11rem, calc(0.98rem + 0.65vw), 1.76rem);
    --step-3: clamp(1.25rem, calc(1.06rem + 0.95vw), 2.20rem);
    --step-4: clamp(1.40rem, calc(1.13rem + 1.35vw), 2.75rem);
    --step-5: clamp(1.58rem, calc(1.21rem + 1.86vw), 3.43rem);
  
  
    --wrapper-max-width-ratio: 75;

    --wrapper-max-width: calc( var(--step-0) * var(--wrapper-max-width-ratio)); 
    
    
    --font-base: Inter,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    --font-serif: Georgia,sans-serif;
    --gutter: var(--space-s-m);
    --border-radius: var(--size-step-1);
    --transition-base: 250ms ease;
    --transition-movement: 200ms linear;
    --transition-fade: 200ms ease;
    --transition-bounce: 500ms cubic-bezier(0.5,0.05,0.2,1.5);
    --tracking: -0.05ch;
    --tracking-s: -0.075ch;
  
    --min-item: calc(var(--step-0) * 15);
    --min-item: 16rem;
    
    --max-item: calc(var(--step-0) * 20);
    --max-item: 20rem;
    
  }
  
  body {
    background: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-base);
    
    font-size: var(--step-0);
  
    letter-spacing: var(--tracking);
    line-height: 1.4
  
  }
  .componentFeature{
      text-align: center;
  }
  

  

/* Base typesetting */
h1,
h2,
h3 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-2);
}

/* Set line lengths */
p.s,
li,
blockquote:not([class]) {
  max-width: 50ch;
}

h1,
h2,
h3 {
  
}

/* More generic elements */
blockquote:not([class]) {
  font-family: var(--font-serif);
  font-size: var(--size-step-2);
}

/* Markdown blockquuote:not([class])s aren't ideal, so we're presuming the person quoted is the last p */
blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  font-weight: normal;
}

svg {
  height: 2ex;
  width: auto;
  flex: none;
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-dark);
  color: var(--color-light);
}



