<div class="counter-01">
    <div class="grid-6">
        <div class="counterItem">
            <span class="counterItemNumber">
                1500
            </span>

            Klienti
        </div>

        <div class="counterItem">
            <span class="counterItemNumber more">
                50
            </span>

            Partneři
        </div>

        <div class="counterItem">
            <span class="counterItemNumber year">
                12
            </span>

            Zkušenosti
        </div>
    </div>
</div>