<div class="skills-01">
    <div class="grid-5">
        <div class="skillsItem">
            <span class="skillsItemNumber">
                5 - 8 %
            </span>

            Nemovitosti
        </div>

        <div class="skillsItem">
            <span class="skillsItemNumber">
                12 - 25 %
            </span>

            Fondy
        </div>

        <div class="skillsItem">
            <span class="skillsItemNumber">
                30 - 70 %
            </span>

            Crypto
        </div>

        <div class="skillsItem">
            <span class="skillsItemNumber">
                20 - 50 %
            </span>

            Alternativní investice
        </div>
    </div>
</div>